*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INPUT CSS */

  .from-container {
    background: #f8f8f8;
    box-shadow: none;
    padding: 11px;
    background: #fff;
    color: #484848;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    height: 40px;
    line-height: 1.14285714;
  }  
  
  .container {
    margin-top: 5px;
    width: 40%;
    height: 5vh;
    outline:darkblue;
  }
  .cont1 {
    margin-bottom: 10px;
    margin-top: -150px;
    margin-left: 950px;

  }
  .popular_heading {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .normal {
    margin: 0 8px 8px 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 8px 16px;
    margin: 6px 6px 6px 0;
    color: #666;
  }
  
  .heading{
    text-align: center;
    
  }

  .heading1{
    text-align: center;
  }

  a {
    text-decoration: none;
  }
