@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}



/* Form css */

.line{
  height:10px;
  background-color: yellow;
  width: 50%;
}
#text{
  margin-left: 30%;
  width: 80%;
}
.container_box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20%;
}
#div_main{
  width:100%;height:80%;margin-top:20;
}
.container_box .circular_box{
  height: 30px;
  width: auto;
  margin-right: 10px;
  padding: 10px;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.mainContainer{
  margin-top: 3%;
}

@media only screen and (max-width: 600px) {
  .line{
    display: none;
    width: 80%;
  }
  #text{
    width: 80%;
    margin-left: 0;
    text-align: center;
  }

  #div_main{
    width:100%;height:100%;margin-top:20px;
  }
  .container_box{
    width: 100%;
    margin-left: 0;
    flex-wrap:wrap;
    margin-bottom: 30px;
  }
  .container_box .circular_box{
    margin: 10px;
  }
}
/* fresh job */

.doc1{
width: 200vmax;  
height: 70vh;
}


/* Online Training css */
/* .ce{
  text-align: center;
  text-transform: capitalize;
  font-family: proxima-semibold;
  margin: 50px 15px 0;
  font-size: 28px;
  color: #333;
  font-style: normal;
  font-weight: 500;
}
.cee{
  font-family: proxima-semibold;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #666;
  margin-left: 16px;
  margin-right: 16px;
  box-sizing: border-box;
}

.conti{
  
  font-family: proxima-semibold;
  font-style: normal;
  text-align: center;
  font-weight: 100;
  font-size: 15px;
  min-height: 36px;
  margin: 0 10px 10px;
  line-height: 32px;
  color: #666;
  
}

.conti .row .col-sm .card .card-img-top{
  height: 146px;
  width: 260px;
  margin-left: 3rem;
}
.conti .row .col-sm .card{
  height: 310px;
  width: 334px;
  
  
}
.conti .row .col-sm .card .card-body h5{
  font-size: 18px;

}
.conti .row .col-sm .card .card-body p{
  
  display: block;
     margin-block-start: 1em; 
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
}
.conti .row {
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
}

.conti .row .col-sm .card .card-body .card-text p{
  text-align:start !important;
  margin-left:0 !important;
} */
#courses-container {
  max-width: 1200px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

#courses-container .category-container .category-heading {
  font-family: proxima-semibold;
  font-style: normal;
  font-weight: 400;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #666;
}

#courses-container .category-container .custom-carousel .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
}




#courses-container .category-container .custom-carousel .slider .slider-item {
  position: relative;
}

#courses-container .category-container .custom-carousel .slider .slider-item a{
  text-decoration: none !important;
}

#courses-container .category-container .custom-carousel .slider a .course-card {
  position: relative;
  height: 390px;
  width: 290px;
  padding: 10px 10px 0;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
  cursor: pointer;
  margin: 24px 44px 20px 4px;
}

#courses-container .category-container .custom-carousel .slider a .course-card:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgb(18 149 201 / 20%), 0 4px 15px 0 rgb(18 149 201 / 20%);
  box-shadow: 0 5px 11px 0 rgb(18 149 201 / 20%), 0 4px 15px 0 rgb(18 149 201 / 20%);
  transform: scale(1.03);
  transition: .25s cubic-bezier(0.77, 0, 0.175, 1)
}

#courses-container .category-container .custom-carousel .slider a .course-card .course-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 156px;
  padding-top: 10px;
  background-color: #FFF;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#courses-container .category-container .custom-carousel .slider a .course-card .course-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


#courses-container .category-container .custom-carousel .slider a .course-card .course-block .course-title {
  color: #666;
  margin-left:-50%;
}

#courses-container .category-container .custom-carousel .slider a .course-card .course-block .course-caption {
  color: #666;
  text-align: justify;
  min-height: 36px;
  margin-left: -50%;
  margin-top: 10%;
}

#courses-container .category-container .custom-carousel .slider a .course-card .course-block .course-block-footer-treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
#courses-container .category-container .custom-carousel .slider a .course-card .course-block .course-block-footer-treatment .duration-view {
  font-family: proxima-light;
  width: 49%;
  padding-top: 10px;
  padding-right: 10px;
  color: #888;
  border-right: 1px solid #ccc;
}

#courses-container .category-container .custom-carousel .slider a .course-card .course-block .course-block-footer-treatment .know-more-button {
  width: 49%;
  font-family: proxima-semibold;
  color: #1295c9 !important;
  padding-left: 10px;
  border-radius: 10px;
  transition: .25s ease-in;
}
#courses-container .category-container .custom-carousel .slider a .course-card .course-block .course-block-footer-treatment .know-more-button:hover{
  background-color: #1295c9 !important;
  color:white !important;

}

.navigation-container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  direction: ltr;
}

.navigation-container .navigation .control.disabled {
  background-color: #DDD;
  cursor: default;
}

.navigation-container .navigation .indicators-container {
  position: relative;
  margin-left: 13px;
  margin-right: 13px;
}
.navigation-container .navigation .indicators-container .indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80px;
  width: 100%;
  overflow: hidden;
}
/* .navigation-container .navigation .indicator.active {
  background-color: #008BDC;
}
.navigation-container .navigation .indicator {
  min-height: 12px;
  min-width: 12px;
  background-color: #DDD;
  border-radius: 6px;
  margin-left: 4px;
}
.navigation-container .navigation .control {
  background-color: #00A5EC;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-position: center;
  cursor: pointer;
} */
  /* Online Training css */ 
  .ce{
    text-align: center;
    text-transform: capitalize;
    font-family: proxima-semibold;
    margin: 50px 15px 0;
    font-size: 28px;
    color: #333;
    font-style: normal;
    font-weight: 500;
  }
  .cee{
    font-family: proxima-semibold;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #666;
    margin-left: 16px;
    margin-right: 16px;
    box-sizing: border-box;
  }
  
  .conti{
    
    font-family: proxima-semibold;
    font-style: normal;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    min-height: 36px;
    margin: 0 10px 10px;
    line-height: 32px;
    color: #666;
    
  }
